In [2]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense

In [29]:
rio_dos_sinos_original = pd.read_excel('RIVER_data/CAMPO_BOM_RIO_DOS_SINOS.xlsx')
rio_cai_original = pd.read_excel('RIVER_data/CAXIAS_DO_SUL_RIO_CAI.xlsx')
rio_gravatai_original = pd.read_excel('RIVER_data/GRAVATAI_RIO_GRAVATAI.xlsx')
rio_jacui_original = pd.read_excel('RIVER_data/TRIUNFO_RIO_JACUI.xlsx')
rio_guaiba_original = pd.read_excel('RIVER_data/POA_GUAIBA.xlsx')

rio_dos_sinos_original.columns = rio_dos_sinos_original.iloc[3]
rio_cai_original.columns = rio_cai_original.iloc[3]
rio_gravatai_original.columns = rio_gravatai_original.iloc[3]
rio_jacui_original.columns = rio_jacui_original.iloc[3]
rio_guaiba_original.columns = rio_guaiba_original.iloc[3]

rio_dos_sinos_original = rio_dos_sinos_original.iloc[8:,0:2]
rio_cai_original = rio_cai_original.iloc[8:,0:2]
rio_gravatai_original = rio_gravatai_original.iloc[8:,0:2]
rio_jacui_original = rio_jacui_original.iloc[8:,0:2]
rio_guaiba_original = rio_guaiba_original.iloc[8:,0:2]

In [30]:
rio_dos_sinos_original['Data'] = pd.to_datetime(rio_dos_sinos_original['Data'], format="%d/%m/%Y %H:%M:%S")
rio_cai_original['Data'] = pd.to_datetime(rio_cai_original['Data'], format="%d/%m/%Y %H:%M:%S")
rio_gravatai_original['Data'] = pd.to_datetime(rio_gravatai_original['Data'], format="%d/%m/%Y %H:%M:%S")
rio_jacui_original['Data'] = pd.to_datetime(rio_jacui_original['Data'], format="%d/%m/%Y %H:%M:%S")
rio_guaiba_original['Data'] = pd.to_datetime(rio_guaiba_original['Data'], format="%d/%m/%Y %H:%M:%S")

rio_dos_sinos_original['Nível (cm)'] = rio_dos_sinos_original['Nível (cm)'].infer_objects(copy=False)
rio_cai_original['Nível (cm)'] = rio_cai_original['Nível (cm)'].infer_objects(copy=False)
rio_gravatai_original['Nível (cm)'] = rio_gravatai_original['Nível (cm)'].infer_objects(copy=False) 
rio_jacui_original['Nível (cm)'] = rio_jacui_original['Nível (cm)'].infer_objects(copy=False)
rio_guaiba_original['Nível (cm)'] = rio_guaiba_original['Nível (cm)'].infer_objects(copy=False)

In [31]:
rio_cai = rio_cai_original
rio_dos_sinos = rio_dos_sinos_original
rio_gravatai = rio_gravatai_original
rio_jacui = rio_jacui_original
rio_guaiba = rio_guaiba_original

In [32]:
rio_cai = rio_cai[rio_cai['Data'].dt.minute == 0]
rio_dos_sinos = rio_dos_sinos[rio_dos_sinos['Data'].dt.minute == 0]
rio_gravatai= rio_gravatai[rio_gravatai['Data'].dt.minute == 0]
rio_jacui = rio_jacui[rio_jacui['Data'].dt.minute == 0]
rio_guaiba = rio_guaiba[rio_guaiba['Data'].dt.minute == 0]

In [33]:
rio_cai = rio_cai.rename(columns={'Nível (cm)' : 'Nível Caí (cm)'})
rio_dos_sinos = rio_dos_sinos.rename(columns={'Nível (cm)' : 'Nível Sinos (cm)'})
rio_gravatai = rio_gravatai.rename(columns={'Nível (cm)' : 'Nível Gravataí (cm)'})
rio_jacui = rio_jacui.rename(columns={'Nível (cm)' : 'Nível Jacuí (cm)'})
rio_guaiba = rio_guaiba.rename(columns={'Nível (cm)' : 'Nível Guaíba (cm)'})

In [34]:
print(f'Data Mínima: {rio_dos_sinos.iloc[:,0].min()}, Data Máxima: {rio_dos_sinos.iloc[:,0].max()}')
print(f'Data Mínima: {rio_cai.iloc[:,0].min()}, Data Máxima: {rio_cai.iloc[:,0].max()}')
print(f'Data Mínima: {rio_gravatai.iloc[:,0].min()}, Data Máxima: {rio_gravatai.iloc[:,0].max()}')
print(f'Data Mínima: {rio_jacui.iloc[:,0].min()}, Data Máxima: {rio_jacui.iloc[:,0].max()}')
print(f'Data Mínima: {rio_guaiba.iloc[:,0].min()}, Data Máxima: {rio_guaiba.iloc[:,0].max()}')

Data Mínima: 2013-12-13 05:00:00, Data Máxima: 2024-06-30 09:00:00
Data Mínima: 2015-09-14 13:00:00, Data Máxima: 2024-05-06 14:00:00
Data Mínima: 2017-11-07 12:00:00, Data Máxima: 2024-07-01 00:00:00
Data Mínima: 2014-10-08 20:00:00, Data Máxima: 2024-04-27 01:00:00
Data Mínima: 2014-07-29 14:00:00, Data Máxima: 2024-05-06 14:00:00

In [35]:
# Definindo as datas de início e fim
data_inicio = '2017-11-14 12:00:00'
data_fim = '2024-04-20 01:00:00'

# Gerando a série de datas com intervalo de 1 hora
datas = pd.date_range(start=data_inicio, end=data_fim, freq='h')

# Criando o DataFrame
nivel_rios = pd.DataFrame({'Data': datas})

In [36]:
nivel_rios = pd.merge(nivel_rios, rio_cai, how='left', on='Data')
nivel_rios = pd.merge(nivel_rios, rio_jacui, how='left', on='Data')
nivel_rios = pd.merge(nivel_rios, rio_dos_sinos, how='left', on='Data')
nivel_rios = pd.merge(nivel_rios, rio_gravatai, how='left', on='Data')
nivel_rios = pd.merge(nivel_rios, rio_guaiba, how='left', on='Data')

In [37]:
nivel_rios['Nível Caí (cm)'] = nivel_rios['Nível Caí (cm)'].interpolate()
nivel_rios['Nível Jacuí (cm)'] = nivel_rios['Nível Jacuí (cm)'].interpolate()
nivel_rios['Nível Sinos (cm)'] = nivel_rios['Nível Sinos (cm)'].interpolate()
nivel_rios['Nível Gravataí (cm)'] = nivel_rios['Nível Gravataí (cm)'].interpolate()
nivel_rios['Nível Guaíba (cm)'] = nivel_rios['Nível Guaíba (cm)'].interpolate()

nivel_rios['Nível Caí (cm)'] = nivel_rios['Nível Caí (cm)'].ffill()
nivel_rios['Nível Jacuí (cm)'] = nivel_rios['Nível Jacuí (cm)'].ffill()
nivel_rios['Nível Sinos (cm)'] = nivel_rios['Nível Sinos (cm)'].ffill()
nivel_rios['Nível Gravataí (cm)'] = nivel_rios['Nível Gravataí (cm)'].ffill()
nivel_rios['Nível Guaíba (cm)'] = nivel_rios['Nível Guaíba (cm)'].ffill()

nivel_rios['Nível Caí (cm)'] = nivel_rios['Nível Caí (cm)'].bfill()
nivel_rios['Nível Jacuí (cm)'] = nivel_rios['Nível Jacuí (cm)'].bfill()
nivel_rios['Nível Sinos (cm)'] = nivel_rios['Nível Sinos (cm)'].bfill()
nivel_rios['Nível Gravataí (cm)'] = nivel_rios['Nível Gravataí (cm)'].bfill()
nivel_rios['Nível Guaíba (cm)'] = nivel_rios['Nível Guaíba (cm)'].bfill()

In [38]:
nivel_rios.describe()

,Data,Nível Caí (cm),Nível Jacuí (cm),Nível Sinos (cm),Nível Gravataí (cm),Nível Guaíba (cm)
count,56366,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000
mean,2021-01-31 18:30:00,96.803172,160.461635,281.371784,238.501552,99.491298
min,2017-11-14 12:00:00,10.500000,33.000000,83.000000,48.000000,4.000000
25%,2019-06-24 15:15:00,68.000000,127.500000,156.000000,173.000000,70.000000
50%,2021-01-31 18:30:00,81.000000,140.765394,214.000000,238.000000,92.000000
75%,2022-09-10 21:45:00,107.000000,176.784719,395.000000,295.000000,120.000000
max,2024-04-20 01:00:00,707.000000,721.000000,758.000000,481.000000,345.000000
std,NaN,56.285930,68.855081,160.553119,80.526206,43.818906

In [39]:
clima_poa = pd.read_excel('RIVER_data/DATA_POA.xlsx')
pd.set_option('future.no_silent_downcasting', True)

clima_poa = clima_poa.replace(-9999, 0)
clima_poa = clima_poa.replace('-', 0)
clima_poa['Data'] = clima_poa['DATA (YYYY-MM-DD)'].astype(str) + ' ' + clima_poa['HORA (UTC)'].astype(str)
clima_poa['Data'] = pd.to_datetime(clima_poa['Data'])
clima_poa = clima_poa[['Data', 'HORÁRIO (mm)', 'HORARIA (°C)', 'UMIDADE RELATIVA DO AR', 'VENTO']]
clima_poa = clima_poa.infer_objects(copy=False).interpolate()

In [40]:
nivel_rios = pd.merge(nivel_rios, clima_poa, how='left', on='Data')

In [41]:
nivel_rios.describe()

,Data,Nível Caí (cm),Nível Jacuí (cm),Nível Sinos (cm),Nível Gravataí (cm),Nível Guaíba (cm),HORÁRIO (mm),HORARIA (°C),UMIDADE RELATIVA DO AR,VENTO
count,56366,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000,56366.000000
mean,2021-01-31 18:30:00,96.803172,160.461635,281.371784,238.501552,99.491298,932.380575,21.921238,11.132110,20.776745
min,2017-11-14 12:00:00,10.500000,33.000000,83.000000,48.000000,4.000000,0.000000,0.000000,-3.000000,-3.000000
25%,2019-06-24 15:15:00,68.000000,127.500000,156.000000,173.000000,70.000000,1004.000000,5.000000,5.000000,5.000000
50%,2021-01-31 18:30:00,81.000000,140.765394,214.000000,238.000000,92.000000,1008.000000,10.000000,9.000000,10.000000
75%,2022-09-10 21:45:00,107.000000,176.784719,395.000000,295.000000,120.000000,1012.000000,19.000000,16.000000,19.000000
max,2024-04-20 01:00:00,707.000000,721.000000,758.000000,481.000000,345.000000,1030.000000,3757.000000,341.000000,349.000000
std,NaN,56.285930,68.855081,160.553119,80.526206,43.818906,266.950394,102.542679,9.823124,27.112315

In [42]:
nivel_rios.dtypes

Data                      datetime64[ns]
Nível Caí (cm)                   float64
Nível Jacuí (cm)                 float64
Nível Sinos (cm)                 float64
Nível Gravataí (cm)              float64
Nível Guaíba (cm)                float64
HORÁRIO (mm)                     float64
HORARIA (°C)                     float64
UMIDADE RELATIVA DO AR           float64
VENTO                            float64
dtype: object

In [43]:
nivel_rios.to_csv('df_nivel_rios.csv')

In [44]:
'''
plt.figure(figsize=(10, 5))
plt.plot(rio_cai['Data'], rio_cai['Nível Caí (cm)'], marker='.')
plt.xlabel('Data')
plt.ylabel('Nível (cm)')
plt.title('Nível (cm) ao longo do tempo')
plt.grid(True)
plt.show()
'''

"\nplt.figure(figsize=(10, 5))\nplt.plot(rio_cai['Data'], rio_cai['Nível Caí (cm)'], marker='.')\nplt.xlabel('Data')\nplt.ylabel('Nível (cm)')\nplt.title('Nível (cm) ao longo do tempo')\nplt.grid(True)\nplt.show()\n"